<div id="header">
  <nav class="navbar navbar-light nav-align">
    <!-- <span class="navbar-brand mb-0 h1">Inicio</span>
    <span class="navbar-brand mb-0 h1">Proyectos</span>
    <span class="navbar-brand mb-0 h1">Sobre mi</span>
    <span class="navbar-brand mb-0 h1">Contacto</span> -->
  </nav>
  <div class="content-header mt-120 h-r-920-c">
    <div class="max-width-600 max-w-r-920-desc">
      <div>
        <h2 class="title-2">
          Hi, soy Jesús Saul Hdez
        </h2>
        <h3>
          Desarrollador front-end
        </h3>
      </div>
      <div class="mt-40">
        <p class="subtitle1 gray-900 ">
          Con experiencia en tecnologias web como Angular y Node js, me encuentro en constante
          aprendizaje e intentando ser mejor con nuevos retos.
        </p>
      </div>
      <div class="mt-80 mb-20">
        <a target="_self" href="../../../assets/resumes/Jesus_Saul_Castañeda_Hdez-en.pdf" download="Jesus_Saul_Castañeda_Hdez-en.pdf">
          <button class="btn-principal">
            Descargar resumen
          </button>
        </a>
      </div>
    </div>
    <div class="max-width-400 max-w-r-920-img">
      <div class="align-r-920">
        <img class="img-height" src="../../../assets/profile-img/profile-pic 01.png" alt="Profile image">
      </div>
    </div>
  </div>
</div>