<div id="home">
  <div class="home-nav">
    <nav class="navbar navbar-light nav-align">
      <a class="navbar-brand mb-0 h1 sub-line" href="#header">Inicio</a>
      <a class="navbar-brand mb-0 h1 sub-line" href="#projects">Proyectos</a>
      <a class="navbar-brand mb-0 h1 sub-line" href="#about-me">Sobre mi</a>
      <a class="navbar-brand mb-0 h1 sub-line" href="#contact">Contacto</a>
    </nav>
  </div>
  <app-header id="header"></app-header>
  <app-projects id="projects"></app-projects>
  <app-about-me id="about-me"></app-about-me>
  <app-contact id="contact"></app-contact>
</div>
