<div id="item-project">
  <div class="card" *ngFor="let project of projects$ | async; index as i">
    <h4 class="card-title gray-900 m-0">{{project.name}}</h4>
    <img class="card-img" src="../../../assets/projects/PokeShopee.jpg" alt="">
    <!-- <div class="card-desc">
      <p>{{project.description}}</p>
      <div>
        <h5 class="subtitle1">
          Tecnologias:
        </h5>
        <div class="jc-sb">
          <div class="jc-c flex-column al-i-ce" *ngFor="let technology of project.technologies" >
            <h6 class="body1">
              {{ technology.name }}
            </h6>
            <img class="img-tech" src="{{technology.img}}" alt="">
          </div>
        </div>
      </div>
      <div>
        <h5 class="subtitle1">
          Colaboradores:
        </h5>
        <div class="jc-sb">
          <div class="" *ngFor="let colaborator of project.colaborators">
              <button class="btn-gen-item-proj btn-colab jc-around al-i-ce">
                <h6 class="m-auto body2 gray-100" (click)="openNewWindow(colaborator.profile)">
                  {{ colaborator.name }}
                </h6>
                <img class="img-icon" src="../../../assets/icons/user.png" alt="">
              </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="jc-sb mt-20">
      <div>
        <button class="btn-gen-item-proj btn-repo jc-around al-i-ce" (click)="openNewWindow(project.repoProject)">
          <h6 class="m-auto body2 gray-100">
            Repositorio
          </h6>
          <img class="img-icon" src="../../../assets/icons/github.png" alt="">
        </button>
      </div>
      <div>
        <button class="btn-gen-item-proj btn-repo jc-around al-i-ce" (click)="openNewWindow(project.project)">
          <h6 class="m-auto body2 gray-100">
            Visitar
          </h6>
          <img class="img-icon" src="../../../assets/icons/app-white.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>