<div id="item-project">
  <div class="card">
    <h4 class="card-title gray-900 m-0">PokeShopee</h4>
    <img class="card-img" src="../../../assets/projects/PokeShopee.jpg" alt="">
    <div class="card-desc">
      <p>Tienda de pokemon's. Cuenta con filtros por nombre y tipo, apartado de descripcion
        del producto, carrito de compras e incluye cuentas de usuario.</p>
      <div>
        <h5 class="subtitle1">
          Tecnologias:
        </h5>
        <div class="jc-sb">
          <div class="jc-c flex-column al-i-ce">
            <h6 class="body1">
              Vue
            </h6>
            <img class="img-tech" src="../../../assets/technologies/vue.png" alt="">
          </div>
          <div class="jc-c flex-column al-i-ce">
            <h6 class="body1">
              Node js
            </h6>
            <img class="img-tech" src="../../../assets/technologies/node-js.png" alt="">
          </div>
          <div class="jc-c flex-column al-i-ce">
            <h6 class="body1">
              Mongo DB
            </h6>
            <img class="img-tech" src="../../../assets/technologies/mongo.png" alt="">
          </div>
        </div>
      </div>
      <div>
        <h5 class="subtitle1">
          Colaboradores:
        </h5>
        <div class="jc-sb">
          <div class="">
            <!-- <a class="navf" [routerLink]="'https://github.com/j-daniel-cruz-b']" fragment="ayudaDiv" target="_blank"> -->
              <button class="btn-gen-item-proj btn-colab jc-around al-i-ce">
                <h6 class="m-auto body2 gray-100" (click)="openNewWindow('https://github.com/j-daniel-cruz-b')">
                  Daniel Cruz
                </h6>
                <img class="img-icon" src="../../../assets/icons/user.png" alt="">
              </button>
            <!-- </a> -->
          </div>
          <div class="">
            <button class="btn-gen-item-proj btn-colab jc-around al-i-ce">
              <h6 class="m-auto body2 gray-100">
                Carolina Medina
              </h6>
              <img class="img-icon" src="../../../assets/icons/user.png" alt="">
            </button>
          </div>
          <div class="">
            <button class="btn-gen-item-proj btn-colab jc-around al-i-ce">
              <h6 class="m-auto body2 gray-100">
                Jesús Hdez
              </h6>
              <img class="img-icon" src="../../../assets/icons/user.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="jc-sb mt-20">
      <div>
        <button class="btn-gen-item-proj btn-repo jc-around al-i-ce">
          <h6 class="m-auto body2 gray-100">
            Repositorio
          </h6>
          <img class="img-icon" src="../../../assets/icons/github.png" alt="">
        </button>
      </div>
      <div>
        <button class="btn-gen-item-proj btn-repo jc-around al-i-ce">
          <h6 class="m-auto body2 gray-100">
            Visitar
          </h6>
          <img class="img-icon" src="../../../assets/icons/play.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>