/* You can add global styles to this file, and also import other style files */
$color-1: #dfece6;
$color-2: #92c7a3;
$color-3: #3ca2a2;
$color-4: #215a6d;
$color-5: #2d2d29;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// Text
h1 {
  font-size: 72px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h3 {
  font-size: 40px;
  font-weight: 600;
}
h4 {
  font-size: 28px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 500;
}
h6 {
  font-size: 20px;
  font-weight: 500;
}
.subtitle1 {
  font-size: 18px;
  font-weight: 500;
}
.subtitle2 {
  font-size: 18px;
  font-weight: 400;
}
.body1 {
  font-size: 16px;
  font-weight: 400;
}
.body2 {
  font-size: 14px;
  font-weight: 400;
}

// Text Color
.gray-900 {
  color: #18191f;
}
.gray-100 {
  color: #F4F5F7;
}

// Color
.c-1 {
  color: $color-1;
}
.c-2 {
  color: $color-2;
}
.c-3 {
  color: $color-3;
}
.c-4 {
  color: $color-4;
}
.c-5 {
  color: $color-5;
}

// Height

// Width
.max-width-600 {
  max-width: 600px;
}
.max-width-400 {
  max-width: 400px;
}

// ===== Margin =====
.m-0 {
  margin: 0;
}
.m-auto {
  margin: auto;
}

// ===== / Margin =====

// ===== Margin-Top =====
.mt-120 {
  margin-top: 120px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-20 {
  margin-top: 20px;
}
// ===== / Margin-Top =====

// ===== Margin-Bottom =====
.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
// ===== / Margin-Bottom =====


// ===== Flexbox =====
.fl {
  display: flex;
}
.jc-c {
  display: flex;
  justify-content: center;
}
.jc-sb {
  display: flex;
  justify-content: space-evenly;
}
.jc-start {
  display: flex;
  justify-content: flex-start;
}
.jc-end {
  display: flex;
  justify-content: flex-end;
}
.jc-around {
  display: flex;
  justify-content: space-around;
}
.jc-bet {
  display: flex;
  justify-content: space-between;
}
.al-i-al-cont {
  display: flex;
  align-items: center;
  align-content: center;
}
.al-i-end {
  display: flex;
  align-items: end;
}
.al-i-c {
  display: flex;
  align-items: center;
}
.al-i-ce {
  align-items: center;
}
.lobby-elements {
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
// ===== / Flexbox =====

// ===== Gap =====
.gap-40 {
  gap: 40px;
}
// ===== / Gap =====


// Buttons
.btn-principal {
  background-color: $color-4;
  border: 1px solid $color-4;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-principal:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
